# Environnement et secrets
.env

# Docker / données persistantes
postgres_data/
logs/
plugins/__pycache__/
**/__pycache__/
*.pyc

# Données brutes volumineuses (trop lourdes pour Git, garder juste un exemple)
data/raw/*.csv
!data/raw/sample.csv

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# OS
.DS_Store
Thumbs.db