# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Airflow logs
logs/

# dbt
dbt/target/
dbt/logs/
dbt_packages/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Docker
*.pid